<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="mt-3">
        <h3>This is Cards data from faker</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let card of cards$ | async">
              <th scope="row">{{ card.name }}</th>
              <td>
                {{ card.username }}
              </td>
              <td>{{ card.email }}</td>
              <td>{{ card.phone }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
